body{
  background-color: #5D86C5;
}

header{
  width: 80%;
  min-width: 400px;
  color: Purple;
  text-align: center;
  font-size: 1.3 em;
  padding:0.1em;
  margin: auto;
}

figure{
  width: 60%;
  margin:auto;
}

.tab-section{
  
  width: 100%;
}

.box-section {
    background: #fff;
    border: 1px solid #dedede;
    padding: 15px;
    position: relative;
}

#imgAccueil{
  width: 100%;
  /*margin: auto;*/
}
figcaption{
  width: 100%;
  text-align: center;
}

#welcomeTxt{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
